body {
  background-color: #4EA9D1;
font-family: Arial Black, Helvetica, sans-serif;
}

.center__containr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center__contnt {
  max-width: 960px;
  width: 100%;
}

.intro__tag {
  background: #F76531;
  color: white;
  font-family: Arial Black, Helvetica, sans-serif;
  padding: 0.5em;
  position: fixed;
  right: 0;
  top:  0;
  z-index: 1;
  }
  
  .main__banner {
  text-align: center;
  }
  
  .main__banner img {
    width: 75%;
  }
  
.bottom__banner {
text-align: center;
}

.bottom__banner img {
  padding: 5%;
  width: 33%;
}